@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background-color: #9EBC62;
}

header {
  width: 1170px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.logo {
  font-weight: 1000;
  font-size: 24px;
  color: #32352A;
}

nav {
  display: flex;
  gap: 44px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: inherit;
  font-weight: inherit;
}

.account {
  display: flex;
  align-items: inherit;
  gap: 28px;
}

.account button {
  padding: 10px 26px;
  border-radius: 8px;
  background-color: #32352A;
  color: inherit;
}

.content {
  width: 1170px;
  margin: 0 auto;
  background-color: blue;
}

.section {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}